# Backend Environment Variables
MONGO_URL=mongodb://mongo:27017
DB_NAME=wordle_x
CORS_ORIGINS=*
BACKEND_PORT=8000

# Frontend Environment Variables
FRONTEND_PORT=80
REACT_APP_BACKEND_URL=

# MongoDB Database Settings
MONGO_PORT=27017
MONGO_VERSION=latest
