# Backend Environment Variables
MONGO_URL=mongodb://mongo:27017
DB_NAME=wordle_x
CORS_ORIGINS=*

# Frontend Environment Variables
FRONTEND_PORT=8888
REACT_APP_BACKEND_URL=

# MongoDB Database Settings
MONGO_VERSION=latest
