version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "0.0.0.0:8000:8000"
    environment:
      - MONGO_URL=mongodb://mongo:27017
      - DB_NAME=wordle_x
      - CORS_ORIGINS=*
    depends_on:
      - mongo
    networks:
      - app-network

  frontend:
    build: ./frontend
    ports:
      - "0.0.0.0:80:80"
    depends_on:
      - backend
    networks:
      - app-network

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo_data:
